<ion-header>
  <ion-toolbar *ngIf="caja" color="warning">
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/layout/cajas">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>REMESAS</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/layout/agregar-remesa', caja.id]">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="caja">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ caja.remesas.length }} Remesa(s)</ion-card-subtitle>
      <ion-card-title>{{ caja.vendedor.nombre | uppercase }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item-sliding *ngFor="let remesa of caja.remesas let i = index">
      <ion-item>
        <ion-label>{{ remesa.fecha | date:'dd-MM-yyyy HH:mm:ss' }}</ion-label>
        <ion-label color="warning" position="fixed"
          >{{ remesa.monto | number }}</ion-label
        >
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warn" (click)="eliminarRemesa(i)"
          >Borrar</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Total</ion-card-subtitle>
      <ion-card-title>{{ calcularTotal() | number }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
