<ion-header *ngIf="venta">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/layout/ventas"></ion-back-button>
    </ion-buttons>
    <ion-title>BOLETA {{ venta.folio }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="venta">
  <ion-list>
    <ion-item *ngFor="let producto of venta.productos">
      <div style="display: flex; flex-direction: column; width: 100%">
        <div style="display: flex; justify-content: space-between; width: 100%">
          <h3>{{ producto.name }}</h3>
          <h3>$ {{ producto.precio | number:'1.0-0' }}</h3>
        </div>

        <div style="display: flex; justify-content: space-between; width: 100%">
          <h6 style="color: #c3c3c3">cantidad: {{ producto.cantidad }}</h6>
          <h6 style="color: #c3c3c3">
            total: {{ producto.kilo > 10 ? producto.precio : producto.precio *
            producto.cantidad }}
          </h6>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
