<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="this.productoForm">
      <ion-item>
        <ion-label position="stacked">Barcode</ion-label>
        <ion-input type="text" formControlName="barcode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Producto</ion-label>
        <ion-input type="text" formControlName="producto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Categoria</ion-label>
        <ion-select formControlName="categoria">
          <ion-select-option
            *ngFor="let categoria of categorias | async"
            [value]="categoria.nombre"
            >{{ categoria.nombre }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Unidad Medida</ion-label>
        <ion-select formControlName="medida">
          <ion-select-option value="K">Kilo</ion-select-option>
          <ion-select-option value="U">Unidad</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Precio</ion-label>
        <ion-input type="number" formControlName="precio"></ion-input>
      </ion-item>
      <ion-button
        (click)="this.actualizar()"
        expand="block"
        fill="outline"
        shape="round"
        [disabled]="this.productoForm.invalid"
        color="warning"
      >
        ACTUALIZAR
      </ion-button>
    </form>
  </ion-card>

  <ion-item *ngIf="this.loading">
    <ion-img src="../../assets/loader.gif"></ion-img>
  </ion-item>
</ion-content>
