<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>CAJAS</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/layout/crear-caja">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let caja of this.cajas | async">
    <ion-card-header>
      <ion-card-subtitle>
        {{ caja.estado == '0' ? 'Abierta':'Cerrada' }}
      </ion-card-subtitle>
      <ion-card-title> {{ caja.vendedor.nombre | uppercase }} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
        <ion-text>Hora Apertura: {{ caja.apertura }}</ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text>Monto Inicial: {{ caja.fondo | number }}</ion-text>
        <ion-buttons slot="end">
          <ion-button [routerLink]="['/layout/update-fondo', caja.id]">
            <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item lines="none">
        <ion-buttons slot="start">
          <ion-button
            color="acent"
            fill="outline"
            [routerLink]="['/layout/salidas', caja.id]"
            >Salidas</ion-button
          >
          <ion-button
            color="acent"
            fill="outline"
            [routerLink]="['/layout/remesas', caja.id]"
            >Remesas</ion-button
          >
        </ion-buttons>
      </ion-item>
      <ion-item lines="none">
        <ion-buttons slot="end">
          <ion-button
            *ngIf="caja.estado == '0'"
            color="warning"
            fill="outline"
            (click)="mostrarConfirm(caja.id, '1')"
            >Cerrar</ion-button
          >
          <ion-button
            *ngIf="caja.estado == '1'"
            color="warning"
            fill="outline"
            (click)="mostrarConfirm(caja.id, '0')"
            >Abrir</ion-button
          >
          <ion-button
            *ngIf="caja.estado == '1'"
            color="warning"
            fill="outline"
            [routerLink]="['/layout/cuadre', caja.id]"
            >Cuadre</ion-button
          >
        </ion-buttons>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
