<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/layout/cajas"></ion-back-button>
    </ion-buttons>
    <ion-title>AGREGAR REMESA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="remesaForm">
      <ion-card-header>
        <ion-item>
          <ion-label position="stacked">Monto</ion-label>
          <ion-input type="text" formControlName="monto"></ion-input>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-button
          (click)="agregarRemesa()"
          expand="block"
          fill="solid"
          shape="round"
          color="warning"
          [disabled]="remesaForm.invalid"
        >
          Guardar
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
