<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button fill="clear" routerLink="/layout/cajas">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>salidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="caja">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle
        >{{ this.caja.salidas.length }} Salida(s)</ion-card-subtitle
      >
      <ion-card-title
        >{{ this.caja.vendedor.nombre | uppercase }}</ion-card-title
      >
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item-sliding *ngFor="let salida of this.caja.salidas; let i = index">
      <ion-item>
        <ion-label>{{ salida.proveedor.nombre }}</ion-label>
        <ion-label color="warning" position="fixed"
          >{{ salida.monto | number }}</ion-label
        >
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="warn" (click)="this.eliminarSalida(i)"
          >Borrar</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Total</ion-card-subtitle>
      <ion-card-title>{{ this.calcularTotal() | number }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
