<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/layout"></ion-back-button>
    </ion-buttons>
    <ion-title>Proveedores</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/layout/nuevo-prov">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let proveedor of proveedores | async"
      detail="true"
      [routerLink]="['/layout/update-prov', proveedor.id]"
    >
      <ion-label>{{ proveedor.nombre }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
