:root {
  --ion-color-warning: #977b60;
  --ion-color-warning-rgb: 151,123,96;
  --ion-color-warning-contrast: #fcf1da;
  --ion-color-warning-contrast-rgb: 252,241,218;
  --ion-color-warning-shade: #856c54;
  --ion-color-warning-tint: #a18870;
}

.ion-color-warning {
  --ion-color-base: var(--ion-color-warning);
  --ion-color-base-rgb: var(--ion-color-warning-rgb);
  --ion-color-contrast: var(--ion-color-warning-contrast);
  --ion-color-contrast-rgb: var(--ion-color-warning-contrast-rgb);
  --ion-color-shade: var(--ion-color-warning-shade);
  --ion-color-tint: var(--ion-color-warning-tint);
}


:root {
  --ion-color-primary: #f6c561;
  --ion-color-primary-rgb: 246,197,97;
  --ion-color-primary-contrast: #fcf1da;
  --ion-color-primary-contrast-rgb: 252,241,218;
  --ion-color-primary-shade: #d8ad55;
  --ion-color-primary-tint: #f7cb71;
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}


:root {
  --ion-color-acent: #e38c4c;
  --ion-color-acent-rgb: 227,140,76;
  --ion-color-acent-contrast: #fcf1da;
  --ion-color-acent-contrast-rgb: 252,241,218;
  --ion-color-acent-shade: #c87b43;
  --ion-color-acent-tint: #e6985e;
}

.ion-color-acent {
  --ion-color-base: var(--ion-color-acent);
  --ion-color-base-rgb: var(--ion-color-acent-rgb);
  --ion-color-contrast: var(--ion-color-acent-contrast);
  --ion-color-contrast-rgb: var(--ion-color-acent-contrast-rgb);
  --ion-color-shade: var(--ion-color-acent-shade);
  --ion-color-tint: var(--ion-color-acent-tint);
}


:root {
  --ion-color-warn: #ff574c;
  --ion-color-warn-rgb: 255,87,76;
  --ion-color-warn-contrast: #fcf1da;
  --ion-color-warn-contrast-rgb: 252,241,218;
  --ion-color-warn-shade: #e04d43;
  --ion-color-warn-tint: #ff685e;
}

.ion-color-warn {
  --ion-color-base: var(--ion-color-warn);
  --ion-color-base-rgb: var(--ion-color-warn-rgb);
  --ion-color-contrast: var(--ion-color-warn-contrast);
  --ion-color-contrast-rgb: var(--ion-color-warn-contrast-rgb);
  --ion-color-shade: var(--ion-color-warn-shade);
  --ion-color-tint: var(--ion-color-warn-tint);
}

:root {
  --ion-background-color: #404040;
  --ion-background-color-rgb: 64,64,64;

  --ion-text-color: #f2f2f2;
  --ion-text-color-rgb: 242,242,242;

  --ion-color-step-50: #494949;
  --ion-color-step-100: #525252;
  --ion-color-step-150: #5b5b5b;
  --ion-color-step-200: #646464;
  --ion-color-step-250: #6d6d6d;
  --ion-color-step-300: #757575;
  --ion-color-step-350: #7e7e7e;
  --ion-color-step-400: #878787;
  --ion-color-step-450: #909090;
  --ion-color-step-500: #999999;
  --ion-color-step-550: #a2a2a2;
  --ion-color-step-600: #ababab;
  --ion-color-step-650: #b4b4b4;
  --ion-color-step-700: #bdbdbd;
  --ion-color-step-750: #c6c6c6;
  --ion-color-step-800: #cecece;
  --ion-color-step-850: #d7d7d7;
  --ion-color-step-900: #e0e0e0;
  --ion-color-step-950: #e9e9e9;
}
