<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/layout/categorias"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="catForm">
      <ion-card-header>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Estado</ion-label>
          <ion-select formControlName="estado">
            <ion-select-option [value]="true">Activo</ion-select-option>
            <ion-select-option [value]="false">Inactivo</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Visibilidad en Pos</ion-label>
          <ion-select formControlName="pos">
            <ion-select-option [value]="true">Visible</ion-select-option>
            <ion-select-option [value]="false">Invisible</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-button
          (click)="nuevaCat()"
          expand="block"
          fill="solid"
          shape="round"
          color="warning"
          [disabled]="catForm.invalid"
        >
          Guardar
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
