<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/layout/proveedores"></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Proveedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="provForm">
      <ion-card-header>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-button
          (click)="nuevoProv()"
          expand="block"
          fill="solid"
          shape="round"
          color="warning"
          [disabled]="provForm.invalid"
        >
          Guardar
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
