<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <form [formGroup]="filterForm">
      <ion-label position="stacked">Filtrar</ion-label>
      <ion-input
        type="text"
        formControlName="key"
        (keyup)="filtrar()"
      ></ion-input>
    </form>
  </ion-item>

  <ion-list *ngIf="!this.isloader">
    <ion-item
      *ngFor="let producto of filtrados | async"
      (click)="actualizar(producto)"
    >
      <ion-text>{{ producto.name }}</ion-text>
      <ion-text slot="end" color="warning"
        >{{ (producto.kilo <= 10 ? producto.precio : producto.kilo) |
        currency:'CLP':'$' }}</ion-text
      >
    </ion-item>
  </ion-list>

  <ion-item *ngIf="this.isloader">
    <ion-img src="../../assets/loader.gif"></ion-img>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/layout/producto" color="warning">
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
