<ion-menu side="start" menuId="principal" contentId="x">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-icon
        name="person-circle-outline"
        slot="start"
        size="large"
      ></ion-icon>
      <ion-title>{{ titulo }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/layout/producto">
          <ion-icon
            color="warning"
            slot="start"
            name="cloud-upload-outline"
          ></ion-icon>
          <ion-text>Crear Producto</ion-text>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/layout/cajas">
          <ion-icon
            color="warning"
            slot="start"
            name="cloud-upload-outline"
          ></ion-icon>
          <ion-text>Cajas</ion-text>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/layout/ventas">
          <ion-icon
            color="warning"
            slot="start"
            name="cloud-upload-outline"
          ></ion-icon>
          <ion-text>Ventas</ion-text>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/layout/proveedores">
          <ion-icon
            color="warning"
            slot="start"
            name="cloud-upload-outline"
          ></ion-icon>
          <ion-text>Proveedores</ion-text>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/layout/categorias">
          <ion-icon
            color="warning"
            slot="start"
            name="cloud-upload-outline"
          ></ion-icon>
          <ion-text>Categorias</ion-text>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/layout/vendedores">
          <ion-icon
            color="warning"
            slot="start"
            name="cloud-upload-outline"
          ></ion-icon>
          <ion-text>Vendedores</ion-text>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="x"></ion-router-outlet>
