<ion-toolbar color="warning">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
  <ion-title>Crear Producto</ion-title>
</ion-toolbar>

<ion-content>
  <ion-card>
    <form [formGroup]="this.productForm">
      <ion-item>
        <ion-label position="stacked">Barcode</ion-label>
        <ion-input type="text" formControlName="barcode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Producto</ion-label>
        <ion-input type="text" formControlName="producto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Categoria</ion-label>
        <ion-select formControlName="categoria">
          <ion-select-option
            *ngFor="let categoria of categorias | async"
            [value]="categoria.nombre"
            >{{ categoria.nombre }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Unidad Medida</ion-label>
        <ion-select formControlName="medida">
          <ion-select-option value="K">Kilo</ion-select-option>
          <ion-select-option value="U">Unidad</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Precio</ion-label>
        <ion-input type="number" formControlName="precio"></ion-input>
      </ion-item>

      <ion-button
        *ngIf="this.guardar"
        [disabled]="this.productForm.invalid"
        type="submit"
        color="warning"
        expand="full"
        size="large"
        fill="outline"
        shape="round"
        (click)="guardarProducto()"
      >
        CREAR
      </ion-button>
      <ion-button
        *ngIf="this.actualizar"
        [disabled]="this.productForm.invalid"
        type="submit"
        color="warning"
        expand="full"
        size="large"
        fill="outline"
        shape="round"
        (click)="actualizarProducto()"
      >
        ACTUALIZAR
      </ion-button>
    </form>
  </ion-card>

  <ion-item *ngIf="this.loading">
    <ion-img src="../../assets/loader.gif"></ion-img>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="this.scan()">
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
