<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/layout"></ion-back-button>
    </ion-buttons>
    <ion-title>VENTAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ventaForm">
    <ion-item>
      <ion-label>Dia</ion-label>
      <ion-datetime locale="es-ES" formControlName="dia"></ion-datetime>
    </ion-item>

    <ion-button
      (click)="buscar()"
      expand="block"
      fill="solid"
      shape="round"
      color="warning"
    >
      Buscar
    </ion-button>
  </form>

  <ion-item>
    <ion-label color="medium">{{ ventas.length }} ventas</ion-label>
  </ion-item>

  <ion-list>
    <ion-item
      *ngFor="let venta of ventas"
      detail="true"
      [routerLink]="['/layout/detalle-venta', venta.id]"
    >
      <div style="display: flex; flex-direction: column; width: 100%">
        <div style="display: flex; justify-content: space-between; width: 100%">
          <h3>Boleta {{ venta.folio }}</h3>
          <h3>$ {{ venta.total | number:'1.0-0' }}</h3>
        </div>

        <div style="display: flex; justify-content: space-between; width: 100%">
          <h6 style="color: #c3c3c3">
            {{ venta.fecha | date:'dd-MM-yyyy HH:mm:ss' }}
          </h6>
          <h6 style="color: #c3c3c3">{{ venta.caja.vendedor.nombre }}</h6>
          <h6 style="color: #c3c3c3">
            {{ venta.dte === '39' ? 'Efectivo' : 'Transbank' }}
          </h6>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
