<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Caja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="this.cajaForm" (ngSubmit)="this.crearCaja()">
        <ion-item>
          <ion-label position="stacked">Vendedor</ion-label>
          <ion-select formControlName="vendedor">
            <ion-select-option
              *ngFor="let vendedor of vendedores | async"
              [value]="vendedor"
              >{{ vendedor.nombre }}</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Monto Inicial</ion-label>
          <ion-input formControlName="fondo" type="number"></ion-input>
        </ion-item>

        <ion-button
          color="warning"
          fill="outline"
          expand="block"
          shape="round"
          size="large"
          [disabled]="this.cajaForm.invalid"
          (click)="this.crearCaja()"
          >Crear</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
