<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/layout"></ion-back-button>
    </ion-buttons>
    <ion-title>Vendedores</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/layout/nuevo-vendedor">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let vendedor of vendedores | async"
      detail="true"
      [routerLink]="['/layout/update-vendedor', vendedor.id]"
    >
      <ion-label>{{ vendedor.nombre }}</ion-label>
      <ion-note slot="end"
        >{{ vendedor.estado ? 'Activo' : 'Inactivo' }}</ion-note
      >
    </ion-item>
  </ion-list>
</ion-content>
