<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button menu="principal"></ion-menu-button>
    </ion-buttons>
    <ion-title>DON RAFAEL</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card
    *ngFor="let categoria of categorias | async"
    [button]="true"
    [routerLink]="['/layout/productos', categoria.nombre]"
  >
    <ion-card-content>
      <ion-text color="warning" style="margin: 40px 0">
        <h1 style="font-size: 40px; font-weight: bold">
          {{ categoria.nombre }}
        </h1>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
