<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cuadre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="caja">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cuadre</ion-card-subtitle>
      <ion-card-title
        >{{ this.caja.vendedor.nombre | uppercase }}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text>
              <h1>Sistema</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text>
              <h1>Vendedor</h1>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <ion-text>
                  <h3>Monto Inicial</h3>
                </ion-text>
                <ion-text color="primary">
                  <h1>+ {{ this.caja.fondo | number }}</h1>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <ion-text>
                  <h3>Monto Inicial</h3>
                </ion-text>
                <ion-text color="primary">
                  <h1>+ {{ this.caja.fondo | number }}</h1>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <ion-text>
                  <h3>Ventas</h3>
                </ion-text>
                <ion-text color="primary">
                  <h1>+ {{ this.cuadre.ventas | number }}</h1>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <ion-text>
                  <h3>Remesas</h3>
                </ion-text>
                <ion-text color="primary">
                  <h1>+ {{ this.cuadre.remesas | number }}</h1>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <ion-text>
                  <h3>Salidas</h3>
                </ion-text>
                <ion-text color="primary">
                  <h1>- {{ this.cuadre.salidas | number }}</h1>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <ion-text>
                  <h3>Salidas</h3>
                </ion-text>
                <ion-text color="primary">
                  <h1>- {{ this.cuadre.salidas | number }}</h1>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label>
          <ion-text><h3>Sistema</h3></ion-text>
          <ion-text color="primary"
            ><h1>{{ this.cuadre.sistema | number }}</h1></ion-text
          >
        </ion-label>
        <ion-label>
          <ion-text><h3>Vendedor</h3></ion-text>
          <ion-text color="primary"
            ><h1>{{ this.cuadre.vendedor | number }}</h1></ion-text
          >
        </ion-label>
        <ion-label>
          <ion-text><h3>Diferencia</h3></ion-text>
          <ion-text color="primary"
            ><h1>{{ this.cuadre.diferencia | number }}</h1></ion-text
          >
        </ion-label>
      </ion-item>

      <ion-button
        size="large"
        fill="outline"
        expand="block"
        shape="round"
        (click)="actualizarCuadre()"
        >CUADRAR</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
