<ion-toolbar color="warning">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/layout"></ion-back-button>
  </ion-buttons>
  <ion-title>Categorias</ion-title>
  <ion-buttons slot="end">
    <ion-button routerLink="/layout/nueva-categoria">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let categoria of categorias | async"
      detail="true"
      [routerLink]="['/layout/update-categoria', categoria.id]"
    >
      <ion-label>{{ categoria.nombre }}</ion-label>
      <ion-note slot="end"
        >{{ categoria.estado ? 'Activo' : 'Inactivo' }}</ion-note
      >
    </ion-item>
  </ion-list>
</ion-content>
