<ion-content slot="fixed">
    <ion-img src="../../assets/logo.png"></ion-img>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Ingreso</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="this.loginForm">
                <ion-item color="light">
                    <ion-label position="stacked">Usuario</ion-label>
                    <ion-input type="text" formControlName="usuario"></ion-input>
                </ion-item>

                <ion-item color="light" style="margin-top: 10px;">
                    <ion-label position="stacked">Clave</ion-label>
                    <ion-input type="password" formControlName="clave"></ion-input>
                </ion-item>

                <ion-button type="submit" (click)="this.login()" [disabled]="this.loginForm.invalid" color="warning" expand="block" style="margin-top: 10px;">
                    Entrar
                </ion-button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
